body {
	background-color: #eeeeee;
	padding: 5px;
	font-family: sans-serif;
}

.option {
	padding: 5px 0px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.option label {
	display: inline-block;
}

.option input[type="checkbox"] {
	vertical-align: middle;
}

.option input[type="text"] {
	vertical-align: middle;
}

#notifs-offset {
	width: 40px;
}

#save {
	margin-top: 10px;
}
